body {
  font-family: "Lato", sans-serif; background-image: url(repeated-square-dark.webp); background-repeat: repeat;
}
.header {
    margin-left: 200px;
    Padding: 30px;
    text-align: center;
    color: white;
}

/* Style for my headshot in sidebar*/
.headshot {
    border: 1px solid #818181;
    border-radius: 3px;
    padding: 4px;
    margin-left: 10px;
    border-color: beige;
    width: 150px;
    
}
.headshot img{
  width: 150px;
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(cork-board.webp);
  background-repeat: repeat;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  color: white;

  
}

/* Add an active class to the active dropdown button */
.active {
  background-color: rgba(121, 94, 6, 0.486);
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #a08800a4;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.fa-code{
    float: left;
    padding-right: 8px;
}
.fa-user{
    float: left;
    padding-right: 8px;
}
.fa-briefcase{
    float: left;
    padding-right: 8px;
}
.fa-at{
    float: left;
    padding-right: 8px;
}
.fa-magnifying-glass{
    float: left;
    padding-right: 8px;
}
/* Some media queries for responsiveness */
@media screen and (max-width: 600px) {
      .sidenav {padding-top: 15px; width: 20%;}
      .sidenav a {font-size: 12px; padding-left:5px;}
      .dropdown-btn {font-size: 12px; padding-left:5px;}
      .main {margin-left: 20%;}
      .headshot {width: 75px;}
      .headshot img {width: 75px;}
    }
